@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

:root {
  --navy-blue-1: #2C3639;
  --navy-blue-2: #526D82;
  --navy-blue-3: #9DB2BF;
  --navy-blue-4: #DDE6ED;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

body {
  background: var(--navy-blue-1);
}

#navbar {
  font-size: 1rem;
  font-weight: 100;
}

#navbar .nav-link {
  color: white;
}

.navbar.scrolled {
  background-color: rgba(0,0,0,0.4);
  transition: background 300ms;
}

#navbar .nav-link:hover {
  color: #354259;
}

#navbar .navbar-brand {
  color: #354259;
  font-size: 2rem;
  font-weight: bold;
}

#title-head > h1 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 4rem;
  color: var(--navy-blue-3);
}

#title-head > a {
  text-decoration: none;
  color: var(--navy-blue-2);
  background-color: #DDE6ED;
  padding: 0.2rem;
  border-radius: 3px;
  transition: .2s;
}

#title-head > a:hover {
  background-color: rgba(0,0,0,0.4);
  color: var(--navy-blue-4);
}

#container-title {
  background-color: rgba(0,0,0,0.1);
}

#container-title > h2 {
  border-bottom: 2px solid rgba(0,0,0,0.1);
}

.blurb h2 {
  color: #354259;
  font-weight: 800;
  font-size: 2.5rem;
}

.blurb p {
  color: var(--navy-blue-4);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 2;
}

h6 {
  color: var(--navy-blue-4);
  font-weight: 300;
  font-size: 1.25rem;
}

@media (max-width: 992px) {
  #title-head h1 {
    font-weight: 100;
    font-size: 1.5rem;
  }

  #container-title {
    margin-top: 1rem;
  }

  #navbar .navbar-brand {
    color: #354259;
    font-size: 2rem;
    font-weight: bold;
  }

  .row .lead {
    font-size: 1rem;
  }

  .row h2 {
    font-size: 1.5rem;
  }
}