@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

body {
  background: #c2ded1;
}

#navbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#navbar .nav-link {
  color: white;
}

#navbar .nav-link:hover {
  color: #354259;
}

#navbar .navbar-brand {
  color: #354259;
  font-size: 1.5rem;
}