@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

body {
  background: #2C3639;
}

#navbar {
  font-size: 1rem;
  font-weight: 100;
}

#navbar .nav-link {
  color: white;
}

.navbar.scrolled {
  background-color: rgba(0,0,0,0.4);
  transition: background 300ms;
}

#navbar .nav-link:hover {
  color: #354259;
}

#navbar .navbar-brand {
  color: #354259;
  font-size: 2rem;
  font-weight: bold;
}

#title-head {
  font-weight: 100;
  font-size: 4rem;
}

.blurb h2 {
  color: #354259;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: #3f4e4f;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

h6 {
  color: #354259;
  font-weight: 300;
  font-size: 1.25rem;
}

@media (max-width: 992px) {
  #title-head h1 {
    font-weight: 100;
    font-size: 1.5rem;
  }

  #navbar .navbar-brand {
    color: #354259;
    font-size: 2rem;
    font-weight: bold;
  }

  .row .lead {
    font-size: 1rem;
  }

  .row h2 {
    font-size: 1.5rem;
  }
}